[project]
	description = A simple web database for board game collectors.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matthew Riley (majr)
[access "refs/for/refs/*"]
	read = group user/Matthew Riley (majr)
	push = group user/Matthew Riley (majr)
	label-Code-Review = -2..+2 group user/Matthew Riley (majr)
	label-Verified = -1..+1 group user/Matthew Riley (majr)
	rebase = group user/Matthew Riley (majr)
	removeReviewer = group user/Matthew Riley (majr)
	submit = group user/Matthew Riley (majr)
[access "refs/heads/*"]
	read = group user/Matthew Riley (majr)
	create = group user/Matthew Riley (majr)
	push = +force group user/Matthew Riley (majr)
	pushMerge = group user/Matthew Riley (majr)
[access "refs/tags/*"]
	push = +force group user/Matthew Riley (majr)
	pushTag = group user/Matthew Riley (majr)
	pushSignedTag = group user/Matthew Riley (majr)
