<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
  </head>
  <body bgcolor="white" text="black"><center>
    <table align="left">
      <tr>
        <td><div align="left"><a href="/">Home</a></div></td>
        <td><div align="left"><a href="/admin/import">Import</a></div></td>
      </tr>
    </table>
    </br>
    <hr>
    
    <form action="/admin" method="post">
      <table align="center">
        <tr>
          <td>Name</td>
          <td>Min Players</td>
          <td>Max Players</td>
          <td>Min Time</td>
          <td>Max Time</td>
          <td>Difficulty</td>
        </tr>
        <tr>
          <td><input type="text" name="name" size="20"></td>
          <td><input type="number" name="minplayers" min="1" style="width: 5.5em"></td>
          <td><input type="number" name="maxplayers" min="1" style="width: 5.5em"></td>
          <td><input type="number" name="mintime" min="1" style="width: 5.5em"></td>
          <td><input type="number" name="maxtime" min="1" style="width: 5.5em"></td>
          <td><input type="number" name="difficulty" min="1" max="10" style="width: 5.5em"></td>
          <td><input type="submit" value="Add Game"></td>
        </tr>
      </table>
    </form>
    </br>
    
    <table border="1" align="center">
      <tr>
        <td>Game</td>
        <td>Min Players</td>
        <td>Max Players</td>
        <td>Max Time</td>
        <td>Difficulty</td>
        <td>Date Added</td>
        <td>Delete?</td>
      </tr>
      {%  for item in games %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.minplayers }}</td>
          <td>{{ item.maxplayers }}</td>
          <td>{{ item.maxtime }}</td>
          <td>{{ item.difficulty }}</td>
          <td>{{ item.date }}</td>
          <td>
            <form action="/admin/del" method="post">
              <button type="submit" name="key" value="{{ item.key.urlsafe() }}">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
{% endautoescape %}