<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
  </head>
  <body bgcolor="white" text="black"><center>
    <table align="left">
      <tr>
        <td><div align="left"><a href="/">Home</a></div></td>
        <td><div align="left"><a href="/admin">Admin</a></div></td>
        <td><div align="left"><a href="/admin/import">Import</a></div></td>
      </tr>
    </table>
    </br>
    <hr>
    <h1>Import from BoardGameGeek</h1></br>
This process activates the unique BGG API url for your collection.</br>
If your collection is sufficiently large the built-in timer won't be long enough</br>
for BGG to prepare their response. If that is the case you will be redirected</br>
back to the admin page. Please wait several minutes and try again.</br></br>
<b>Note: </b>Depending on the size of your collection the import can take several minutes.</br></br>
    
    <form action="/admin/import" method="post">
      <table align="center"s>
        <tr>
          <td><input type="text" name="BGGUserName" size="20" placeholder="Enter BGG Username"></td>
          <td><input type="submit" value="Import"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
{% endautoescape %}